<h1 class="bg-primary">Welcome to {{title}}</h1>

<app-tasks></app-tasks>

<h4>List of completed tasks</h4>

<app-completed-tasks></app-completed-tasks>

<button (click)="readMe()">Click Me</button>


<div *ngIf="showMsg; then showThenMsg else showElseMsg">Show message</div>
<ng-template #showElseMsg>Show else message</ng-template>
<ng-template #showThenMsg>Show then message</ng-template>

<h4>ngSwitch Example</h4>
<div [ngSwitch]="switchValue">
<div *ngSwitchCase="1">Value passed is : 1</div>
<div *ngSwitchCase="2">Value passed is : 2</div>
<div *ngSwitchCase="3">Value passed is : 3</div>
<div *ngSwitchCase="4">Value passed is : 4</div>
<div *ngSwitchDefault>This is the default Value</div>
</div>

<router-outlet></router-outlet>